android/.gradle/8.5/checksums/checksums.lock
android/.gradle/8.5/checksums/checksums.lock
android/.gradle/8.5/checksums/md5-checksums.bin
android/.gradle/8.5/checksums/sha1-checksums.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/nb-cache/trust/DDD22BB399200D035192FAD68E968B3FF3EF8A703EAAD7B27A84C83195CE53A9
android/.gradle/8.13/checksums/checksums.lock
android/.gradle/8.13/checksums/checksums.lock
android/.gradle/8.13/checksums/md5-checksums.bin
android/.gradle/8.13/checksums/checksums.lock
